<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Console_Cards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>aces.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>blackjack_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cards_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>634B85A81ABB5B89006D0857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>634B85DD1AC74638006D0857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63C5E2CE1CA0CB9C006AD679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63C5E2DB1CA0D00A006AD679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
